<p>
  <b>Name:</b>
  <%=h @team.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @team.description %>
</p>

<p>
  <b>User:</b>
  <%=h @team.user_id %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
