
<% content_for :header do %>
  <div class="maintitle"><%=h @match.local.name %> <%=h @match.local_score %> - <%=h @match.visitor_score %> <%=h @match.visitor.name %></div>
  <div class="mainsubtitle"><%=h @match.match_date %></div>
<% end %>

<div class="mainarea_main_bar">

    <div class="titleA">Notas del partido</div>
    <br />

    <table>
      <% for note in @match.notes%>
        <tr>
          <td><strong><%=h note.minute %>'</strong> - </td>
          <td><%=h note.description %></td>
        </tr>
      <% end %>
    </table>

    <hr class="wide" />
    <br />

</div> <!-- /#mainarea_main_bar -->
