<% content_for :header do %>
  <div class="maintitle"><%=h match_result @match %></div>
  <div class="mainsubtitle"><%=h @match.match_date %></div>
<% end %>

<div class="col_50_50 clearfix">

  <div class="left_col">
    <div class="titleA"> <%= @match.local.name %></div>
    <ul>
      <% for goal in @match.local_goals%>
        <li><strong><%=h goal.minute %>'</strong> - <%=h goal.player %></li>
        </tr>
      <% end %>
    </ul>
  </div> <!-- /.left_col -->
  
  <div class="right_col">
    <div class="titleA"> <%= @match.visitor.name %></div>
    <ul>
      <% for goal in @match.visitor_goals%>
        <li><strong><%=h goal.minute %>'</strong> - <%=h goal.player %></li>
        </tr>
      <% end %>
    </ul>
  </div> <!-- /.right_col -->
</div>

<div class="titleA">Notas del partido</div>
<br />

<table>
  <% for note in @match.notes%>
    <tr>
      <td><strong><%=h note.minute %>'</strong> - </td>
      <td><%=h note.description %></td>
    </tr>
  <% end %>
</table>

<hr class="wide" />
<br />

