
<% content_for :header do %>
  <div class="maintitle"><%=h @match.local.name %> <%=h @match.local_score %> - <%=h @match.visitor_score %> <%=h @match.visitor.name %></div>
  <div class="mainsubtitle"><%=h @match.match_date %></div>
<% end %>



<table>
    <tr>
    </tr>
</table>